<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charSet="utf-8" />
    <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
    <meta httpEquiv="Content-Language" content="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/grommet/1.3.4/grommet.min.css">
    <title>ReactQL</title>
  </head>
  <body>
    <div id="main"></div>
    <script defer src="/vendor.js"></script>
    <script defer src="/browser.js"></script>
  </body>
</html>
