/* Define some variables we might want to use elsewhere */
:root {
  --bg: #00bcd4;
}

.styleExamples {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    padding: 10px;
  }
}

.example {
  background-color: var(--bg);
}
